.span10.completed
  %h2.task-header Completed Tasks

  -@tasks.group_by {|t| t.created_at.at_beginning_of_day}.each do |created_at, tasks|
    %h3.date-header
      = created_at.strftime("%b %d, %Y %A")
      %span.number-circle= tasks.count

    - tasks.each do |task|
      = render :partial => 'singletask', :locals => { :task => task }

= render :partial => 'sidebar'
