%h2 Task Details

%p
  %b Description:
  = @task.headline
%p
  %b Created at:
  = @task.created_at
- if !@task.completed_at.nil?
  %p
    %b Completed at:
    = @task.completed_at
- if @task.is_deleted
  %span.label.important
    Deleted.
  No further updates can be made.
- else
  .action
    = link_to '', edit_task_path(@task), :class => "link-pictos iconic-blue-pen_16x16", title: "Edit"
