<div style="margin: 0 auto; text-align:left;">

	<h1>Welcome to Maharjans - Quotes</h1>
	<p>If you rise above the pettiness of people and small annoyances……you will be able to give your energy to the important things.</p>

	<p>You don't make decision because they are easy. You don't make decision because they are cheap. You don't make decisions because they are popular. You make decisions because they are right.</p>

</div>
