.topbar
  .fill
    .container
      %a.brand{:href => "/"} MaharZen
      %ul.nav
        %li
          %a{:href => "/"} Home
        %li.active
          %a{:href => "/about"} About
        %li
          %a{:href => "/contact"} Contact

.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2 About me!
      %h5 If you rise above the pettiness of people and small annoyances, you will be able to give your energy to the important things.
  
%footer
  %h5 © Maharjan 2013
