.topbar
  .fill
    .container
      %a.brand{:href => "/"} MaharZen
      %ul.nav
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "home/about"} About
        %li.active
          %a{:href => "home/contact"} Contact

.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2 Contact!
      %h5 @ sachin.gen@gmail.com
      %h5 f: /sachin.maharjan
      %h5 t: #sachinmaharjan
      %h5 tumbler: sachinmaharjan.tumbler.com
  
%footer
  %h5 © Sachin Maharjan 2011