.topbar
  .fill
    .container
      %a.brand{:href => "#"} MaharZen
      %ul.nav
        %li.active
          %a{:href => "home#index"} Home
        %li
          %a{:href => "home#about"} About
        %li
          %a{:href => "home#contact"} Contact

.container{:style=>"width:820px; margin:0 auto;"}
  .content
    .hero-unit
      %h2 MaharZen!
      %h5 People are insecure...Give them confidence
      %h5 People like to feel special...Sincerely Compliment them
      %h5 People look for a better tomorrow...Show them hope
      %h5 People need to be understood...Listen to them
      %h5 People lack direction...Navigate for them
      %h5 People are selfish...Speak to their needs first
      %h5 People get emotionally low...Encourage them
      %h5 People want to be associated with success...Help them win
      %h5 People desire meaningful relationships...Provide community
      %h5 People seek models to follow...Be an example.
  
%footer
  %h5 © Sachin Maharjan 2011