// Place all the styles related to the error controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rat {
	margin-top: 100px;
	text-align: center;
}

.big-rat {
	width: 200px;
	height: 190px;
}